<!-- 有考试成绩 latestExamResult 和 currentExam 键就显示本页面-->
<!--.web_main-->
<div class="web_main">
  <!--.ckrep-->
  <div class="ckrep ckrep5 fl">
    <h3><%= latestExamResult.name %></h3>
    <div>英语阅读能力等级：<%= latestExamResult.examGradeResult %></div>
    <div>测试时间：<%= latestExamResult.personalEndTime %><span>用时：<%= latestExamResult.duration %></span>分钟</div>
    <div class="ckrep_btn">
      <a href="<%= YD.conf.lastExamResult %><%= latestExamResult.id %>" class="btn">查看报告</a>
      <a href="<%= YD.conf.userTrend %>" class="btn">我的成长</a>
    </div>
  </div>
  <!--/.ckrep-->
  <!--.again-->
  <div class="again fl"></div><!--/.again-->
  <!--start-->
  <div class="start_box clear"><div class="exam_setout fl exam_setout_margin1"><%= currentExam.endTime %></div><a href=<%= currentExam.id %> class="btn_start fl Arial">Start</a></div><!--/start-->
</div>
<!--/.web_main-->
