
<h2>编辑用户信息</h2>
<form id='user_info'>
登录名：  <input type="text" name="loginName" value=<%= loginName %> ><br>
姓名:  <input type="text" name="userName" value=<%= userName %> ><br>
出生日期： <input type="text" name="dob" id='datepicker' ><br>
性别：  <input type="text" name="gender" value=<%= gender %> ><br>
年龄： <input type="text" name="age" value=<%= age %> ><br>
年级： <input type="text" name="grade" value=<%= grade %> ><br>
学校： <input type="text" name="school" value=<%= school %> > <br>
邮箱： <input type="text" name="email" value=<%= email %> ><br>
</form>
<button type="buttom"  onclick='YD.userSave()'>保存用户信息 <button>
