
<h2>用户信息</h2>
登录名：<%= loginName %> <br>
姓名: <%= userName %> <br>
<!-- 出生日期：<%= dob %>  <br> -->
性别： <%= _(gender).values()[0] %>  <br>
年龄：<%= age %>  <br>
年级：<%= _(grade).values()[0] %>  <br>
学校：<%= school %>  <br>
邮箱：<%= email %>  <br>
<button type="buttom" onclick='YD.userEdit()''>修改用户信息</button>





