
<div id=user-show>
<h2>用户信息</h2>
登录名：<%= user['loginName'] %> <br>
姓名: <%= user['userName'] %> <br>
出生日期：<%= user['dob'] %>  <br>
性别： <%= user['gender'] %>  <br>
年龄：<%= user['age'] %>  <br>
年级：<%= user['grade'] %>  <br>
学校：<%= user['school'] %>  <br>
邮箱：<%= user['email'] %>  <br>
<input type="submit" id= "edit-user-info" value="编辑用户信息"> <br>
<img src= '<%= user['photo'] %> ' > <br>
</div>

<div id=user-edit>
<h2>编辑用户信息</h2>
<form>
登录名：  <input type="text" name="firstname"><br>
姓名:  <input type="text" name="firstname"><br>
出生日期： <input type="text" name="firstname"><br>
性别：  <input type="text" name="firstname"><br>
年龄： <input type="text" name="firstname"><br>
年级： <input type="text" name="firstname"><br>
学校： <input type="text" name="firstname"><br>
邮箱： <input type="text" name="firstname"><br>
<input type="submit" id= "save-user-info" value="保存用户信息"> <br>
</form>
</div>

<div id=user-photo-edit>
<h2>编辑头像<h2>
<form>
<input type="radio" name="1" value="1"><img src=<%= user['photo'] %>><br>
<input type="radio" name="2" value="1"><img src=<%= user['photo'] %>><br>
<input type="radio" name="2" value="1"><img src=<%= user['photo'] %>><br>
<input type="radio" name="2" value="1"><img src=<%= user['photo'] %>><br>
<input type="radio" name="2" value="1"><img src=<%= user['photo'] %>><br>
<input type="radio" name="2" value="1"><img src=<%= user['photo'] %>><br>
<input type="radio" name="2" value="1"><img src=<%= user['photo'] %>><br>
</form>
</div>
